node_modules
# Keep environment variables out of version control
.env
# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
*.gz

# Environment variables
.env
.env.local
.env.*.local

# Vercel build output
.vercel/

# Output of build processes
dist/
build/
out/

# Temporary files and caches
*.tmp
*.temp
*.pid
*.seed
*.pid.lock

# Prisma
.prisma
prisma/.env
prisma/migrations/

# OS or editor folders/files
.DS_Store
Thumbs.db
.idea/
.vscode/
.vscode/*
.vscode/settings.json
*.swp
*.swo

# Ignore coverage files
coverage/

# Ignore database files (if any local databases are stored)
*.sqlite
*.sqlite3
db.json

# Ignore uploads (if storing them locally during dev)
uploads/
uploads/*
